body {
    font-family: Arial, Helvetica, sans-serif;
}

.cart {
    min-width: 450px;
    position: fixed;
    z-index: 2;
    background-color: #FFF;
    bottom: 0;
    right: 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    padding: 10px;
    box-shadow: -5px -1px 30px #ccc;
}

.cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart ul li {
    margin-bottom: 10px;
}

.cart ul li span {
    margin-right: 10px;
}

.table-container {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    gap: 1px;
}

.grid-row {
    display: contents;
}

.grid-header,
.grid-row {
    display: table;
    width: 100%;
}

.grid-row.first-line {
    height: 15px;
    background-color: #f0f0f0;
}

.grid-row.first-line div {
    height: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.grid-row.second-line {
    height: 30px;
}

.grid-row div {
    display: table-cell;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
    width: 3.9%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-row div.yellow {
    background-color: yellow;
}

.grid-row div.ln {
    text-align: left;
    width: 30%;
    padding-top: 0;
    padding-bottom: 0;
}

.grid-item {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}